h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
ul {
    background-color:cyan;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration:underline;
}
.Cores {
    background-color: green;
}
p {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}