* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 50px;
  justify-content: space-between;}

.trybewarts-login {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  margin-right: 10px;
}

.trybewarts-login label {
  margin: 10px;}

#email {
  height: 20px;
  width: 150px;
  border-radius: 5px;
}

#senha {
  height: 20px;
  width: 100px;
  border-radius: 5px;}

#button {
  height: 20px;
  width: 90px;
  margin-top: 10px;
  border-radius: 5px;
}

header h1 {
  text-align: center;}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#principal {
  display: flex;
  justify-content: space-between;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}
